body {
    background-color: #f4f4f4;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: #FFF;
    text-align: center;
}

.botao-categoria,
.botao-ordenar {
    background-color: #4CAF50;
    color: #FFF;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.botao-categoria:hover {
    background-color: #2e7230;
}

.botao-ordenar {
    background-color: #173b8f;
}

.botao-ordenar:hover {
    background-color: #0d2252;
}

.box-imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de tamanho igual */
    gap: 20px; /* Espaçamento entre as imagens */
    padding: 20px;
}

.imagem {
    width: 100%; /* Ocupa todo o espaço da célula da grade */
    padding-bottom: 100%; /* Mantém a proporção quadrada */
    position: relative;
}

.imagem img {
    position: absolute;
    width: calc(100% - 10px); /* Ajuste do tamanho da imagem */
    height: calc(100% - 100px); /* Ajuste do tamanho da imagem */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 20px; /* Adiciona borda arredondada */
}

.imagem-selecionada {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 2;
}

.bg-img {
    background-color: #2b2b2bc0;
}

.fechar-imagem {
    position: absolute;
    color: #FFF;
    font-weight: bold;
    top: 20px;
    right: 20px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid #FFF;
    border-radius: 20px;
    display: none;
}

footer {
    height: 40px;
    background-color: #333;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
}

.active {
    background-color: #2e6d30;
}
