body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4069c9;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
    background-color: #012269d5;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000000a9;
}

#resultados{
    margin-top: 20px;
    align-items: center;
    padding: 10px;
}

#resultados .img{
    background-color: #000000a9;
}

.mensagemErro{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    color: red;
}

#modo-noturno{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 2em;
}

#modo-noturno :hover{
    color: #ffffffbe;
}

.dark-mode{
    background-color: #0a0329;
    box-shadow: 0px 0px 5px #9e9e9ea9;
}

.dark-container{
    background-color: #080a46bd;
    color: #ffffff;
    font-weight: bold;
}

.lampada{
    transition-duration: 1s;
}

.lampada.apagada{
    color: white;
}